@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  list-style: none;
  text-decoration: none; }

main {
  background-color: #111010; }

h3 {
  color: #d4d2d2; }

h2 {
  color: #b87f50; }

h1, .mainIndex .edge {
  color: #b87f50; }

header {
  width: 100%;
  background-color: #2A2929;
  padding: 1rem; }
  header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: none; }
    header nav .headerLogo {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: none; }
      header nav .headerLogo a {
        color: #8750B8; }
    header nav #toggle, header nav label {
      display: none; }
    header nav .navBar ul {
      display: flex;
      gap: 1rem; }
      header nav .navBar ul li a {
        color: #DFDADA;
        font-size: 1.4rem; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  background-color: #2A2929;
  color: #DFDADA;
  padding: 10px;
  height: 13rem;
  font-size: 1.1rem; }
  footer .list div ul a {
    color: #DFDADA; }
  footer .form form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: none; }
    footer .form form input[type="email"]::placeholder {
      color: white; }
    footer .form form .sendForm {
      width: 2rem;
      padding: .20rem; }
  footer .media div {
    text-align: center; }
    footer .media div a img {
      width: 1.6875rem; }

.mainIndex h1, .mainIndex .edge {
  background-color: #252e31;
  text-align: center;
  font-size: 2rem; }

.mainIndex .edge {
  font-size: 1.1rem; }

.mainIndex .indexMain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 100%;
  height: 45rem; }
  .mainIndex .indexMain h3 {
    text-align: center;
    font-size: 1.8rem; }
  .mainIndex .indexMain #carouselItem-1 {
    background-image: url(../assets/img/mujer-velo-400x600.jpg);
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 90%;
    padding-top: 2.5rem; }
    .mainIndex .indexMain #carouselItem-1:hover {
      transform: scale(1.2);
      transition: 0.7s; }
    .mainIndex .indexMain #carouselItem-1 .arrowsCarouselItem {
      display: none; }
  .mainIndex .indexMain #carouselItem-2 {
    background-image: url(../assets/img/horror-400x550.jpg);
    background-size: cover;
    background-position: center;
    width: 37%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 1px .625rem black;
    padding-top: 2.5rem; }
    .mainIndex .indexMain #carouselItem-2:hover {
      transform: scale(1.2);
      transition: 0.7s; }
    .mainIndex .indexMain #carouselItem-2 .arrowsCarouselItem {
      display: none; }
  .mainIndex .indexMain #carouselItem-3 {
    background-image: url(../assets/img/callejon-abandonado-hospital-749x500.jpg);
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 90%;
    overflow: hidden;
    padding-top: 2.5rem; }
    .mainIndex .indexMain #carouselItem-3:hover {
      transform: scale(1.2);
      transition: 0.7s; }
    .mainIndex .indexMain #carouselItem-3 .arrowsCarouselItem {
      display: none; }

.mainIndex .indexRooms {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  gap: none;
  color: #d4d2d2; }
  .mainIndex .indexRooms :nth-child(2) {
    flex-direction: row-reverse; }
  .mainIndex .indexRooms article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    gap: none;
    margin: 2rem 5rem; }
    .mainIndex .indexRooms article a img {
      object-fit: cover;
      width: 18rem;
      height: 18rem;
      box-shadow: .125rem .125rem .625rem black;
      border-radius: 50%;
      border: 4px solid black; }
      .mainIndex .indexRooms article a img:hover {
        border-radius: 10%;
        transition: all 1s;
        transform: rotate(360deg); }
    .mainIndex .indexRooms article div {
      width: 50rem;
      padding: 0rem 1.5rem; }
      .mainIndex .indexRooms article div a {
        color: #b87f50; }

.contactMain {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: none;
  background-image: linear-gradient(to right bottom, #131625, #181323, #1d0f1f, #210a1a, #240613, #330917, #430a18, #530c16, #79101e, #a11523, #c91c27, #f22727); }
  .contactMain .border {
    width: 20%;
    height: .25rem;
    background-color: #201635; }
  .contactMain h1, .contactMain .mainIndex .edge, .mainIndex .contactMain .edge {
    background-color: transparent;
    color: #b87f50;
    padding: 1.25rem; }
  .contactMain h4 {
    padding: 1.25rem;
    color: #d4d2d2;
    font-size: 2rem; }
  .contactMain .contactNumber {
    margin: 3rem;
    font-size: 1.4rem; }
    .contactMain .contactNumber h3 {
      color: #b87f50;
      padding: .5rem; }
    .contactMain .contactNumber a {
      color: #d4d2d2;
      padding-left: 3rem; }
  .contactMain .contactForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: none;
    flex-grow: 1;
    background: #33333398;
    padding: 1.25rem;
    border: .5rem solid black;
    outline: 0.15rem dashed #b87f50;
    width: 45%;
    margin: 3.125rem auto; }
    .contactMain .contactForm .contactFormInput {
      width: 21.25rem;
      min-width: 15rem;
      flex: 1;
      text-align: center;
      padding: 1.875rem;
      order: 5; }
      .contactMain .contactForm .contactFormInput input, .contactMain .contactForm .contactFormInput textarea {
        width: 100%;
        padding: .4375rem;
        margin: .375rem 0;
        border: none;
        border-bottom: 0.1875rem solid #b87f50;
        background: transparent;
        color: #DFDADA; }
        .contactMain .contactForm .contactFormInput input[type="submit"], .contactMain .contactForm .contactFormInput textarea[type="submit"] {
          background: #5bf;
          border-bottom: none;
          padding: .75rem; }
          .contactMain .contactForm .contactFormInput input[type="submit"]:hover, .contactMain .contactForm .contactFormInput textarea[type="submit"]:hover {
            background: #57f;
            border-bottom: none;
            padding: .75rem; }
          .contactMain .contactForm .contactFormInput input[type="submit"]:active, .contactMain .contactForm .contactFormInput textarea[type="submit"]:active {
            background: linear-gradient(to bottom, #5bf, #57f);
            box-shadow: black; }
        .contactMain .contactForm .contactFormInput input:focus, .contactMain .contactForm .contactFormInput textarea:focus {
          background: linear-gradient(to bottom, transparent, #551010);
          outline: none;
          border-bottom: .1875rem solid #5bf; }
      .contactMain .contactForm .contactFormInput textarea {
        height: 7rem;
        resize: none; }
    .contactMain .contactForm div {
      flex: 1;
      display: flex;
      padding: .625rem;
      min-width: 13.75rem;
      max-width: 25rem;
      order: 2; }
      .contactMain .contactForm div img {
        width: 100%;
        margin: auto;
        max-width: 12.5rem; }

.mainBookings {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 5%;
  grid-template-rows: 6rem 5rem 20rem 52rem;
  grid-template-areas: "item1 item1 item1 item1 item1" "item2 item2 item2 item2 item2" "item3 item4 item4 item4 item5" "item7 item8 item8 item8 item9";
  gap: 0.625rem;
  text-align: center; }
  .mainBookings h1, .mainBookings .mainIndex .edge, .mainIndex .mainBookings .edge {
    grid-area: item1;
    text-align: center;
    font-size: 2rem;
    background-color: #111010;
    color: #b87f50;
    padding-top: 1.25rem; }
  .mainBookings p {
    grid-area: item2;
    text-align: center;
    font-size: 1.4rem;
    color: #d4d2d2; }
  .mainBookings .bookingsForm {
    grid-area: item3;
    color: #747272;
    font-size: 1.1rem;
    text-align: center; }
    .mainBookings .bookingsForm form {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: none;
      align-items: none;
      gap: 0.625rem;
      margin: 1rem 2rem; }
      .mainBookings .bookingsForm form input {
        margin: auto; }
  .mainBookings .bookingSedes {
    grid-area: item4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: top;
    gap: 0.4rem; }
    .mainBookings .bookingSedes a {
      width: 33%;
      color: #b87f50;
      -webkit-animation: scale-up-hor-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: scale-up-hor-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; } }

@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; } }
      .mainBookings .bookingSedes a img {
        width: 100%;
        height: 94%;
        object-fit: cover; }
  .mainBookings .bookingRooms {
    grid-area: item8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "i1 i2 i3" "i4 i5 i6" "i7 i8 i9";
    gap: 0.625rem;
    background-color: #161616; }
    .mainBookings .bookingRooms article {
      width: 90%;
      height: 90%;
      border-radius: .625rem;
      overflow: hidden;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.197);
      margin: auto;
      background-color: #474747; }
      .mainBookings .bookingRooms article:hover {
        transform: scale(110%);
        transition: all 0.5s ease-out; }
      .mainBookings .bookingRooms article div {
        width: 100%;
        height: 80%; }
        .mainBookings .bookingRooms article div img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(1); }
          .mainBookings .bookingRooms article div img:hover {
            filter: grayscale(0); }
      .mainBookings .bookingRooms article h2 {
        font-size: 1.1rem; }
      .mainBookings .bookingRooms article button {
        all: initial; }
        .mainBookings .bookingRooms article button a {
          color: #d4d2d2; }
  .mainBookings .bookingSchedule {
    grid-area: item7;
    height: 50%;
    margin: 0 auto;
    background-color: #474747;
    padding: 1rem; }
    .mainBookings .bookingSchedule #sedeSeleccionada {
      color: #d4d2d2;
      font-size: 1.1rem; }
    .mainBookings .bookingSchedule h2 {
      padding: 1rem;
      font-size: 1.4rem;
      color: black; }
    .mainBookings .bookingSchedule li a {
      color: #b87f50; }

.faqMainSection {
  background-image: url(../assets/img/scape-room.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 2rem; }
  .faqMainSection h1, .faqMainSection .mainIndex .edge, .mainIndex .faqMainSection .edge {
    color: #b87f50;
    text-align: center;
    padding: 1.25rem;
    font-size: 2rem; }
  .faqMainSection .faqImgs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: .5rem; }
    .faqMainSection .faqImgs div {
      text-align: center; }
      .faqMainSection .faqImgs div img {
        width: 8rem;
        height: 8rem; }
      .faqMainSection .faqImgs div h3 {
        width: 11rem;
        height: 11rem;
        font-size: .9rem; }
  .faqMainSection .questions {
    background-color: #212122f5;
    width: 45%;
    margin-left: 2.9rem;
    border-radius: 1.3%; }
    .faqMainSection .questions h2 {
      color: #b87f50;
      font-size: 1.4rem;
      border-bottom: 0.15rem solid #181616;
      padding: .5rem; }
    .faqMainSection .questions p {
      color: #d4d2d2;
      font-size: 1.1rem;
      padding: .5rem; }

.mainFuturix {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: none;
  background-color: #D6D6D6;
  height: 37.5rem; }
  .mainFuturix .futurixTitle {
    width: 27%;
    margin: auto;
    font-size: 1.4rem; }
    .mainFuturix .futurixTitle h1, .mainFuturix .futurixTitle .mainIndex .edge, .mainIndex .mainFuturix .futurixTitle .edge {
      padding-bottom: 3rem; }
  .mainFuturix .futurixMainImg {
    width: 73%;
    height: 37.5rem; }
    .mainFuturix .futurixMainImg img {
      display: inline-block;
      width: 50%;
      object-fit: cover;
      height: 100%; }
      .mainFuturix .futurixMainImg img:first-child {
        float: left; }
      .mainFuturix .futurixMainImg img .futurixImg2 {
        float: right; }

.futurixArticle {
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/interior-casa.jpg);
  background-size: cover;
  font-size: 1.5625rem;
  padding: 30px 90px; }
  .futurixArticle article {
    width: 39.375rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px; }

.futurixArticle2 {
  width: 100%;
  background-color: #D6D6D6;
  text-align: center; }
  .futurixArticle2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 40%;
    font-size: 1.5rem;
    margin: auto; }
  .futurixArticle2 a {
    font-size: 1.5rem;
    color: #b87f50; }

.sedesHeader {
  background-color: #bb89eb; }
  .sedesHeader .btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    color: #cc5353; }

.mainBootstrap {
  background-color: #cac9c9; }
  .mainBootstrap section #carousel .carousel-inner {
    max-height: 42rem;
    object-fit: contain; }
    .mainBootstrap section #carousel .carousel-inner img {
      width: 100%; }
  .mainBootstrap .w-100 article .icono-wrap {
    color: black; }
    .mainBootstrap .w-100 article .icono-wrap div h3 {
      color: #cc5353; }
  .mainBootstrap .equipo div #img-equipo {
    width: 70%;
    height: 20rem;
    object-fit: contain; }
  .mainBootstrap .equipo #local {
    display: flex;
    justify-content: space-between; }
    .mainBootstrap .equipo #local .mapa {
      background-image: url(../assets/img/mapa2.png);
      width: 100%;
      height: 35rem; }
    .mainBootstrap .equipo #local div .wrapper-local {
      width: 50%;
      padding: 6.25rem; }

.m-404 {
  height: 100vh;
  background-image: url(../assets/img/404.jpg);
  background-repeat: no-repeat;
  background-size: 100%; }
  .m-404 .main-404 {
    height: 70%;
    width: 100%;
    text-align: center; }
    .m-404 .main-404 h1, .m-404 .main-404 .mainIndex .edge, .mainIndex .m-404 .main-404 .edge {
      color: #ac6429;
      font-size: 5rem;
      padding-top: 10rem; }
    .m-404 .main-404 div {
      margin: auto;
      width: fit-content; }
      .m-404 .main-404 div:hover::after {
        content: "Lamentamos que esto haya sucedido. La próxima vez, esperamos que seas más ingenioso";
        background-color: rgba(36, 33, 33, 0.623);
        display: block;
        color: white; }
      .m-404 .main-404 div a {
        font-size: 1.5rem;
        color: white; }
  .m-404 .sec2 {
    background-color: #111010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%; }
    .m-404 .sec2 h2 {
      width: 50%;
      text-align: right;
      padding: 2rem;
      font-size: 8rem;
      color: rgba(48, 43, 43, 0.781); }
    .m-404 .sec2 div {
      width: 50%;
      background-color: #111010; }
      .m-404 .sec2 div p {
        color: #DFDADA; }

@media (max-width: 768px) {
  header {
    padding: .2rem; }
    header nav .headerLogo a {
      font-size: .8rem; }
      header nav .headerLogo a img {
        width: 5rem; }
    header nav .navBar ul {
      gap: 1rem; }
      header nav .navBar ul li a {
        font-size: .8rem; }
  footer {
    font-size: .6rem;
    padding: .4125rem;
    flex-wrap: wrap; }
    footer .list div ul a {
      display: none; }
    footer .form form input[type="email"] {
      width: 6rem; }
    footer .media {
      text-align: center; }
      footer .media div a img {
        width: 1rem; }
  .mainIndex h1, .mainIndex .edge {
    font-size: 1.4rem; }
  .mainIndex .indexMain {
    height: 25rem; }
    .mainIndex .indexMain h3 {
      font-size: 1.2rem; }
  .mainIndex .edge h3 {
    font-size: 1rem;
    padding: 0rem .5rem; }
  .mainIndex .indexRooms {
    font-size: .6rem; }
    .mainIndex .indexRooms article {
      width: 90%;
      height: 10rem;
      margin: 1rem; }
      .mainIndex .indexRooms article a img {
        width: 10rem;
        height: 10rem; }
      .mainIndex .indexRooms article div {
        padding: 1rem; }
  .mainBookings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3rem 3rem 11rem 43rem;
    grid-template-areas: "item1 item1 item1 item1" "item2 item2 item2 item2" "item4 item4 item4 item6" "item8 item8 item8 item3";
    gap: 0.625rem;
    width: 100%;
    text-align: center; }
    .mainBookings h1, .mainBookings .mainIndex .edge, .mainIndex .mainBookings .edge {
      font-size: 1.6rem; }
    .mainBookings p {
      font-size: .6rem; }
    .mainBookings .bookingsForm {
      font-size: 1rem; }
    .mainBookings .bookingRooms {
      grid-area: item8;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "i1 i2" "i3 i4" "i5 i6";
      gap: 0.625rem; }
      .mainBookings .bookingRooms :nth-child(7) {
        display: none; }
      .mainBookings .bookingRooms :nth-child(8) {
        display: none; }
      .mainBookings .bookingRooms :nth-child(9) {
        display: none; }
      .mainBookings .bookingRooms article h2 {
        font-size: .8rem; }
    .mainBookings .bookingSchedule {
      grid-area: item3;
      margin-top: 11rem;
      width: 80%; }
      .mainBookings .bookingSchedule #sedeSeleccionada {
        font-size: 1rem; }
      .mainBookings .bookingSchedule h2 {
        font-size: .8rem; }
      .mainBookings .bookingSchedule ul li a {
        font-size: .8rem; }
  .faqMainSection {
    background-image: linear-gradient(to right bottom, #131625, #181323, #1d0f1f, #210a1a, #240613, #330917, #430a18, #530c16, #79101e, #a11523, #c91c27, #f22727); }
    .faqMainSection h1, .faqMainSection .mainIndex .edge, .mainIndex .faqMainSection .edge {
      font-size: 1.4rem; }
    .faqMainSection .faqImgs {
      flex-wrap: wrap;
      gap: .5rem; }
      .faqMainSection .faqImgs div img {
        width: 5.6rem;
        height: 5.6rem; }
      .faqMainSection .faqImgs div h3 {
        width: 8rem;
        height: 8rem;
        font-size: .6rem; }
    .faqMainSection .questions {
      width: 80%;
      margin: auto; }
      .faqMainSection .questions h2 {
        font-size: 1.1rem; }
      .faqMainSection .questions p {
        font-size: .8rem; }
  .contactMain h1, .contactMain .mainIndex .edge, .mainIndex .contactMain .edge {
    font-size: 1.5rem; }
  .contactMain h4 {
    font-size: 1.2rem; }
  .contactMain .contactNumber h3 {
    font-size: 1.1rem; }
  .contactMain .contactForm {
    width: 60%;
    border: .5rem solid black; }
    .contactMain .contactForm .contactFormInput input {
      padding: .350rem;
      margin: .300rem 0; }
    .contactMain .contactForm .contactFormInput textarea {
      height: 4rem; }
    .contactMain .contactForm div img {
      width: 7rem; }
  .mainFuturix {
    height: 20rem; }
    .mainFuturix .futurixTitle {
      width: 27%;
      margin: auto;
      font-size: 1rem; }
      .mainFuturix .futurixTitle h1, .mainFuturix .futurixTitle .mainIndex .edge, .mainIndex .mainFuturix .futurixTitle .edge {
        padding-bottom: 3rem; }
    .mainFuturix .futurixMainImg {
      width: 73%;
      height: 20rem; }
      .mainFuturix .futurixMainImg img {
        display: inline-block;
        width: 50%;
        object-fit: cover;
        height: 100%; }
        .mainFuturix .futurixMainImg img:first-child {
          float: left; }
        .mainFuturix .futurixMainImg img .futurixImg2 {
          float: right; }
  .futurixArticle {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/interior-casa.jpg);
    background-size: cover;
    margin: auto;
    display: flex; }
    .futurixArticle article {
      width: 39.375rem;
      margin-left: 1.25rem; }
      .futurixArticle article div h2 {
        font-size: 1.3rem; }
      .futurixArticle article div p {
        font-size: .8rem; }
  .futurixArticle2 p {
    width: 50%;
    font-size: 1rem; }
  .futurixArticle2 a {
    font-size: 1rem; }
  .m-404 .main-404 {
    background-image: url(../assets/img/404.jpg);
    object-fit: contain;
    background-position: 20%; }
    .m-404 .main-404 h1, .m-404 .main-404 .mainIndex .edge, .mainIndex .m-404 .main-404 .edge {
      font-size: 3rem; }
  .m-404 .sec2 h2 {
    padding-top: 0;
    font-size: 5rem; } }

@media (max-width: 425px) {
  header {
    padding: .2rem; }
    header nav .headerLogo a {
      font-size: .56rem;
      font-size: .8rem; }
      header nav .headerLogo a img {
        width: 3.5rem; }
    header nav .navBar {
      width: 100%;
      height: 0;
      overflow: hidden; }
      header nav .navBar ul {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0px;
        gap: 1rem; }
        header nav .navBar ul li a {
          font-size: .8rem; }
    header nav label {
      display: flex;
      color: white;
      cursor: pointer; }
    header nav #toggle:checked ~ .navBar {
      height: 100%; }
  .mainIndex .indexMain {
    height: 17rem;
    display: block;
    overflow: hidden; }
    .mainIndex .indexMain #carouselItem-1 {
      position: relative;
      margin-left: 10%;
      width: 80%;
      height: 100%; }
      .mainIndex .indexMain #carouselItem-1 .arrowsCarouselItem {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem; }
        .mainIndex .indexMain #carouselItem-1 .arrowsCarouselItem a i {
          color: #d4d2d2; }
      .mainIndex .indexMain #carouselItem-1:hover {
        transform: none;
        transition: none; }
    .mainIndex .indexMain #carouselItem-2 {
      position: relative;
      margin-left: 10%;
      width: 80%;
      width: 80%;
      height: 100%; }
      .mainIndex .indexMain #carouselItem-2 .arrowsCarouselItem {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem; }
        .mainIndex .indexMain #carouselItem-2 .arrowsCarouselItem a i {
          color: #d4d2d2; }
      .mainIndex .indexMain #carouselItem-2:hover {
        transform: none;
        transition: none; }
    .mainIndex .indexMain #carouselItem-3 {
      position: relative;
      margin-left: 10%;
      width: 80%;
      width: 80%;
      height: 100%; }
      .mainIndex .indexMain #carouselItem-3 .arrowsCarouselItem {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem; }
        .mainIndex .indexMain #carouselItem-3 .arrowsCarouselItem a i {
          color: #d4d2d2; }
      .mainIndex .indexMain #carouselItem-3:hover {
        transform: none;
        transition: none; }
  .mainIndex .edge h3 {
    font-size: .8rem; }
  .mainIndex .indexRooms {
    font-size: .4rem;
    margin: 0; }
    .mainIndex .indexRooms article {
      width: 90%;
      height: 7rem;
      margin: 1rem; }
      .mainIndex .indexRooms article a img {
        width: 7rem;
        height: 7rem; }
  footer .form form label {
    display: none; }
  footer .form form input[type="email"]::placeholder {
    color: #5c5c5c; }
  .mainBookings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2rem 2rem 11rem 43rem;
    grid-template-areas: "item1 item1 item1 item1" "item2 item2 item2 item2" "item4 item4 item4 item4" "item8 item8 item8 item3";
    gap: 0.625rem;
    width: 100%;
    text-align: center; }
    .mainBookings h1, .mainBookings .mainIndex .edge, .mainIndex .mainBookings .edge {
      font-size: 1.2rem; }
    .mainBookings p {
      font-size: .5rem;
      width: 100%; }
    .mainBookings .bookingsForm {
      font-size: .6rem; }
    .mainBookings .bookingSchedule {
      grid-area: item3;
      margin-top: 11rem;
      width: 80%; }
      .mainBookings .bookingSchedule #sedeSeleccionada {
        font-size: 1rem; }
      .mainBookings .bookingSchedule h2 {
        font-size: .6rem; }
      .mainBookings .bookingSchedule ul li a {
        font-size: .6rem; }
    .mainBookings .bookingRooms {
      grid-area: item8;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding: .5rem; }
      .mainBookings .bookingRooms :nth-child(4) {
        display: none; }
      .mainBookings .bookingRooms :nth-child(5) {
        display: none; }
      .mainBookings .bookingRooms :nth-child(6) {
        display: none; }
      .mainBookings .bookingRooms article h2 {
        font-size: .6rem; }
  .faqMainSection h1, .faqMainSection .mainIndex .edge, .mainIndex .faqMainSection .edge {
    font-size: 1.1rem; }
  .faqMainSection .faqImgs {
    gap: 0rem; }
    .faqMainSection .faqImgs div img {
      width: 4.5rem;
      height: 4.5rem; }
    .faqMainSection .faqImgs div h3 {
      width: 7rem;
      height: 7rem;
      font-size: .45rem; }
  .faqMainSection .questions h2 {
    font-size: .9rem; }
  .faqMainSection .questions p {
    font-size: .6rem; }
  .contactMain h1, .contactMain .mainIndex .edge, .mainIndex .contactMain .edge {
    font-size: 1.2rem; }
  .contactMain h4 {
    font-size: .8rem; }
  .contactMain .contactNumber h3 {
    font-size: .9rem; }
  .contactMain .contactForm {
    background: transparent;
    width: 60%;
    border: none;
    outline: none; }
    .contactMain .contactForm .contactFormInput input {
      padding: .350rem;
      margin: .300rem 0; }
    .contactMain .contactForm .contactFormInput textarea {
      height: 4rem; }
    .contactMain .contactForm div img {
      width: 7rem; }
  .mainFuturix {
    height: 20rem; }
    .mainFuturix .futurixTitle {
      margin: auto;
      width: 27%;
      font-size: 1rem; }
      .mainFuturix .futurixTitle h1, .mainFuturix .futurixTitle .mainIndex .edge, .mainIndex .mainFuturix .futurixTitle .edge {
        padding-bottom: 3rem; }
    .mainFuturix .futurixMainImg {
      display: none; }
  .futurixArticle {
    padding: 1.5rem; }
    .futurixArticle article {
      width: 39.375rem;
      margin-left: 1.25rem; }
      .futurixArticle article div h2 {
        font-size: 1.1rem; }
      .futurixArticle article div p {
        font-size: .8rem; }
  .futurixArticle2 p {
    width: 80%;
    font-size: .8rem; }
  .futurixArticle2 a {
    font-size: .9rem; }
  .m-404 .main-404 {
    height: 50%;
    background-image: radial-gradient(circle, #3f4448, #383d41, #31363a, #2b3034, #24292d, #202529, #1c2124, #181d20, #161a1d, #14181a, #111517, #0e1214); }
    .m-404 .main-404 h1, .m-404 .main-404 .mainIndex .edge, .mainIndex .m-404 .main-404 .edge {
      font-size: 2rem; }
    .m-404 .main-404 div:hover::after {
      font-size: .8rem; }
    .m-404 .main-404 div a {
      font-size: 1rem; }
  .m-404 .sec2 {
    flex-direction: column; }
    .m-404 .sec2 h2 {
      text-align: center;
      font-size: 3rem;
      padding: 0; }
    .m-404 .sec2 p {
      text-align: center;
      padding: 0;
      font-size: .8rem; } }

@media (max-width: 320px) {
  .mainIndex h1, .mainIndex .edge {
    font-size: 1rem; }
  .mainIndex .indexMain {
    height: 13rem; }
    .mainIndex .indexMain h3 {
      font-size: .9rem; }
  .mainIndex .edge h3 {
    font-size: .6rem; }
  .mainIndex .indexRooms {
    font-size: .3rem;
    margin: 0rem; }
    .mainIndex .indexRooms article {
      height: 6rem;
      margin: .6rem; }
      .mainIndex .indexRooms article a img {
        width: 5rem;
        height: 5rem; }
  .mainBookings {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 2.5rem 2.5rem 9rem 43rem 10rem 20rem;
    grid-template-areas: "item1 item1 item1 item1" "item2 item2 item2 item2" "item4 item4 item4 item4" "item8 item8 item8 item8" "item11 item11 item11 item11" "item13 item13 item13 item13";
    gap: 0rem;
    width: 100%; }
    .mainBookings h1, .mainBookings .mainIndex .edge, .mainIndex .mainBookings .edge {
      font-size: 1rem; }
    .mainBookings .bookingSedes {
      height: 7rem; }
      .mainBookings .bookingSedes a {
        font-size: .6rem; }
    .mainBookings .bookingsForm {
      grid-area: item11; }
      .mainBookings .bookingsForm form input[type=date] {
        width: 80%; }
    .mainBookings .bookingSchedule {
      grid-area: item13;
      margin-top: 0rem;
      width: 100%;
      height: 100%; }
  .contactMain h1, .contactMain .mainIndex .edge, .mainIndex .contactMain .edge {
    font-size: 1rem; }
  .contactMain h4 {
    font-size: .6rem; }
  .contactMain .contactNumber {
    margin: 0; }
    .contactMain .contactNumber h3 {
      font-size: .6rem; }
    .contactMain .contactNumber a {
      padding-left: .8rem; }
  .contactMain .contactForm {
    background: transparent;
    width: 80%;
    min-width: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0; }
    .contactMain .contactForm .contactFormInput {
      min-width: 0rem;
      margin-top: 5rem;
      margin-bottom: 2rem;
      padding: 0; }
      .contactMain .contactForm .contactFormInput input {
        width: 100%;
        min-width: none; }
      .contactMain .contactForm .contactFormInput textarea {
        height: 4rem; }
    .contactMain .contactForm div {
      display: none; }
  .futurixArticle {
    margin: 0rem;
    padding: .5rem; }
    .futurixArticle article {
      margin-left: 0rem;
      padding: 0; }
      .futurixArticle article div h2 {
        font-size: .8rem; }
      .futurixArticle article div p {
        font-size: .6rem; } }
