* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #111010;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* Header */
.headerIndex {
    width: 100%;
    background-color: #2A2929;
    padding: 1rem;
}

.headerIndex .headerMenu .headerLogo {
    display: flex;
    flex-direction: column;
}
.headerIndex .headerMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerIndex .headerLogo a {
    color: #8750B8;
    text-decoration: none;
}

.headerMenu .navBar {
    display: flex;
    
}

.headerMenu .navBar li {
    list-style: none;
    margin: 1.3rem;
}

.headerMenu .navBar a {
    text-decoration: none;
    color: #DFDADA;
    font-size: 1.4rem;
}

nav #toggle, nav label{
    display: none;
}

/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2a2929;
    color: #D6D6D6;
    padding: 10px;
    height: 13rem;
    font-size: 1.1rem;
}

footer ul{
    list-style: none;
}
footer ul a{
    text-decoration: none;
    color: #D6D6D6;
}

.footerForm {
    display: flex;
    align-items: center;
}

.footerForm .sendForm {
    width: 1.6875rem;
    padding: .20rem;
}

.footerMedia{
    text-align: center;
}
.footerMedia a img{
    width: 27px;
}




/* Index 
main */
.divEdge {
    background-color: #252e31;
    text-align: center;
    font-size: .8rem;
}

.indexMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45rem;
    justify-content: center;
    align-items: center;
    
}

.firstImg {
    width: 25%;
    height: 100%;
    overflow: hidden;
    padding-top: 2.5rem;
}
.firstImg h2{
    background-image: url(../assets/img/plano-medio-mujer-velo-negro.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95%;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.1rem;    
}
.firstImg:hover {
    transform: scale(1.20);
    transition: 0.7s;
    
}
.firstImg a{
    text-decoration: none;
    color: #d4d2d2;
}
.secondImg {
    width: 37%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 1px .625rem black;
}
.secondImg h2 {
    background-image: url(../assets/img/horror.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.1rem;
}

.secondImg:hover {
    transform: scale(1.14);
    transition: 0.7s;
    
}


.secondImg a{
    text-decoration: none;
    color: #d4d2d2;
}

.thirdImg {
    width: 25%;
    height: 100%;
    overflow: hidden;
    padding-top: 2.5rem;
}
.thirdImg h2 {
    background-image: url(../assets/img/callejon-abandonado-hospital-psiquiatrico.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95%;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.1rem;
}

.thirdImg:hover {
    transform: scale(1.20);
    transition: 0.7s;
    
}
.thirdImg a{
    text-decoration: none;
    color: #d4d2d2;
}

/* Index 
 rooms */



.indexRooms {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: #D6D6D6;
}

.roomSection {
    display: flex;
    flex-direction: row;
    margin: 2rem 5rem;
}



.divFirstRoom img {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    box-shadow: .125rem .125rem .625rem black;
}

.divSecondRoom img {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    box-shadow: .125rem .125rem .625rem black;
}

.divThirdRoom img {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    box-shadow: .125rem .125rem .625rem black;
}

.divText {
    width: 50rem;
    height: 18rem;
    padding: 0rem 3.125rem;
}

.divText a {
    color: #b87f50;
    text-decoration: none;
}

/* Media querys Index */

@media(max-width:768px){
    .headerIndex{
        padding: .5rem;
    }
    .headerMenu .navBar li a{
        font-size: .8rem;
    }
    .headerMenu .navBar li {
        list-style: none;
        margin: .7rem;
    }
    .headerMenu .logo a img{
        width: 5rem;
    }
    
    .headerMenu .logo a{
        font-size: .9rem;
        text-decoration: none;
    }
    .divEdge {
        background-color: #252e31;
        text-align: center;
        font-size: .6rem;
        padding: 0rem .5rem;
    }
    footer{
        font-size: .6rem;
        padding: .4125rem;
    }
    .footerFormContainer{
        padding: 0rem;
    }
    .footerForm{
        min-width: 205px;
        padding: 0rem;
    }
    footer ul a{
        display: none;
    }
    .footerInputEmail{
        width: 7rem;
    }
    
    .footerForm .sendForm {
        width: 1.6875rem;
    }
    
    .footerMedia{
        text-align: center;
    }
    .footerMedia a img{
        width: 1rem;
    }


    .indexMain{
        height: 25rem;
    }
    .firstImg h2{
        font-size: 1.3rem;
    }
    .secondImg h2{
        font-size: 1.3rem;
    }
    .thirdImg h2{
        font-size: 1.3rem;
    }
    .indexRooms{
        font-size: .6rem;
        margin: 0rem;
    }
    .divFirstRoom img {
        width: 10rem;
        height: 10rem;
    }
    .divSecondRoom img {
        width: 10rem;
        height: 10rem;
    }
    .divThirdRoom img {
        width: 10rem;
        height: 10rem;
    }

    .roomSection {
        width: 90%;
        height: 10rem;
        margin: 1rem;
    }
    
}

@media(max-width:425px){
    .headerIndex .logo{
        margin: auto;
    }
    

}

/* Futurix 
main section*/

.mainFuturix {
    background-color: #D6D6D6;
    display: flex;
    justify-content: space-between;
    height: 37.5rem;
}

.mainFuturix .futurixTitle {
    padding: 8rem;
    font-size: 1.5625rem;
}
.mainFuturix .futurixTitle h1{
    padding-bottom: 3rem;
}

.futurixMainImg img {
    height: 37.5rem;
    display: inline-block;
}

.img1 {
    width: 50%;
    object-fit: cover;
    float: left;
}

.img2 {
    width: 50%;
    object-fit: cover;
    float: right;
}

/* Futurix 
secondary section */

.futurixSecondarySection {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/interior-casa.jpg);
    background-size: cover;
    font-size: 1.5625rem;
    padding: 30px 90px;
    display: flex;
}

.futurixArticle {
    width: 39.375rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}


/* Bookings 
main*/

.mainBookings {
    width: 100%;
    text-align: center;
}

.bookingsTitle h1 {
    color: #b87f50;
    font-size: 4.5rem;
}

.bookingsTitle p {
    padding-top: 3rem;
    font-size: 2rem;
    width: 40%;
    color: #BCB9B9;
}

.bookingsForm {
    margin: 3rem;
    font-size: 2rem;
    text-align: left;
}

.bookingsForm form {
    width: 8%;
    margin: 1rem 2rem;
    font-size: 1.2rem;
}

.bookingSchedule {
    align-items: center;
}

.bookingRooms a img {
    width: 20%;
    height: 29rem;
    object-fit: cover;
}


.bookingAvailable a {
    text-decoration: none;
}

/* F.A.Q. */

.faqMainSection h1{
    color: #b87f50;
    text-align: center;
    padding: 30px;
    font-size: 3rem;
}

.faqQuestions {
    width: 49%;
    margin-left: 2rem;

}
.faqQuestions h2 {
    color: #b87f50;
    font-size: 2rem;
}
.faqQuestions a {
    text-decoration: none;
}

.faqQuestions p {
    color: #BCB9B9;
    font-size: 1.3rem;
}
.faqMainSection {
    background-image: url(../assets/img/scape-room.webp);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

/* contacto */

.contactMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.125rem;
    color: #b87f50;
}

.contactNumber{
    color: #b87f50;
    margin: 1rem;
    font-size: 1.5rem;
}
.contactNumber a {
    color: #BCB9B9;
    text-decoration: none;
}

.contactForm{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #333;
    padding: 20px;
    border: 20px solid #000;
    outline: 4px dashed #b87f50;
    max-width: 50%;
    margin: 3.125rem auto;
    flex-grow: 1;
}

form {
    min-width: 340px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}

.formInput {
    width: 100%;
    padding: .4375rem;
    margin: .375rem 0;
    border: none;
    border-bottom: 3px solid #b87f50;
    background: transparent;
    color: #fff;
}

form .formInput:focus{
    background: linear-gradient(to bottom, transparent, #222);
    outline: none;
    border-bottom: 3px solid #5bf;
}

form textarea {
    min-height: 9rem;
    resize: none;
}

.contactFormImg {
    flex: 1;
    display: flex;
    padding: .625rem;
    min-width: 18.75rem;
    max-width: 25rem;
    order: 2;
}

.contactFormImg img{
    width: 100%;
    margin: auto;
    max-width: 12.5rem;
}

form input[type="submit"] {
    background: #5bf;
    border-bottom: none;
    padding: 12px;
}

form input[type="submit"]:hover {
    background: #57f;
    border-bottom: none;
    padding: 12px;
}

form input[type="submit"]:active {
    background: linear-gradient(to bottom, #5bf, #57f);
    box-shadow: #111;
}


