* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #111010;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* Header */
.headerIndex {
    width: 100%;
    background-color: #2A2929;
    padding: 1rem;
}

.headerIndex .headerMenu .headerLogo {
    display: flex;
    flex-direction: column;
}
.headerIndex .headerMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.headerIndex .headerLogo a {
    color: #8750B8;
    text-decoration: none;
}

.headerMenu .navBar ul{
    display: flex;
    
}

.headerMenu .navBar ul li {
    list-style: none;
    margin: 1.3rem;
}

.headerMenu .navBar ul a {
    text-decoration: none;
    color: #DFDADA;
    font-size: 1.4rem;
}

nav #toggle, nav label{
    display: none;
}

/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2a2929;
    color: #D6D6D6;
    padding: 10px;
    height: 13rem;
    font-size: 1.1rem;
}

footer ul{
    list-style: none;
}
footer ul a{
    text-decoration: none;
    color: #D6D6D6;
}

.footerForm {
    display: flex;
    align-items: center;
}

.footerForm .sendForm {
    width: 1.6875rem;
    padding: .20rem;
}

.footerMedia{
    text-align: center;
}
.footerMedia a img{
    width: 27px;
}




/* Index 
main */
.divEdge {
    background-color: #252e31;
    text-align: center;
    font-size: .8rem;
}

.indexMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45rem;
    justify-content: center;
    align-items: center;
    
}

.indexCarouselItem{
    height: 100%;
}

#carouselItem-1 {
    background-image: url(../assets/img/plano-medio-mujer-velo-negro.jpg);
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 90%;
    padding-top: 2.5rem;
}
.cardCarouselItem .carouselItem_1-h2{
    text-align: center;
    font-size: 2.1rem;    
}
#carouselItem-1:hover {
    transform: scale(1.20);
    transition: 0.7s;
    
}
#carouselItem-1 a{
    text-decoration: none;
    color: #d4d2d2;
}



#carouselItem-2 {
    background-image: url(../assets/img/horror.jpg);
    background-size: cover;
    background-position: center;
    width: 37%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 1px .625rem black;
}
.cardCarouselItem .carouselItem_2-h2 {
    text-align: center;
    padding-top: 2rem;
    font-size: 2.1rem;
}
#carouselItem-2:hover {
    transform: scale(1.14);
    transition: 0.7s;
    
}
#carouselItem-2 a{
    text-decoration: none;
    color: #d4d2d2;
}



#carouselItem-3 {
    background-image: url(../assets/img/callejon-abandonado-hospital-psiquiatrico.jpg);
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 90%;
    overflow: hidden;
    padding-top: 2.5rem;
}
.cardCarouselItem .carouselItem_3-h2 {
    text-align: center;
    font-size: 2.1rem;
}

#carouselItem-3:hover {
    transform: scale(1.20);
    transition: 0.7s;
    
}
#carouselItem-3 a{
    text-decoration: none;
    color: #d4d2d2;
}

.arrowsCarouselItem{
    display: none;
}


/* Index 
 rooms */



.indexRooms {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: #D6D6D6;
}

.roomSection {
    display: flex;
    flex-direction: row;
    margin: 2rem 5rem;
}



.divFirstRoom img {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    box-shadow: .125rem .125rem .625rem black;
}

.divSecondRoom img {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    box-shadow: .125rem .125rem .625rem black;
}

.divThirdRoom img {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    box-shadow: .125rem .125rem .625rem black;
}

.divText {
    width: 50rem;
    padding: 0rem 1.5rem;
}

.divText a {
    color: #b87f50;
    text-decoration: none;
}

/* Media querys Index */

@media(max-width:768px){
    .headerIndex{
        padding: .5rem;
    }
    .headerMenu .navBar ul li a{
        font-size: .8rem;
    }
    .headerMenu .navBar ul li {
        list-style: none;
        margin: .7rem;
    }
    .headerMenu .headerLogo a img{
        width: 5rem;
    }
    
    .headerMenu .headerLogo a{
        font-size: .9rem;
        text-decoration: none;
    }
    .divEdge {
        background-color: #252e31;
        text-align: center;
        font-size: .6rem;
        padding: 0rem .5rem;
    }
    footer{
        font-size: .6rem;
        padding: .4125rem;
    }
    .footerFormContainer{
        padding: 0rem;
    }
    .footerForm{
        min-width: 205px;
        padding: 0rem;
    }
    footer ul a{
        display: none;
    }
    .footerInputEmail{
        width: 7rem;
    }
    
    .footerForm .sendForm {
        width: 1.6875rem;
    }
    
    .footerMedia{
        text-align: center;
    }
    .footerMedia a img{
        width: 1rem;
    }


    .indexMain{
        height: 25rem;
    }
    
    .cardCarouselItem .carouselItem_1-h2{
        font-size: 1.3rem;
    }
    .cardCarouselItem .carouselItem_2-h2{
        font-size: 1.3rem;
    }
    .cardCarouselItem .carouselItem_3-h2{
        font-size: 1.3rem;
    }





    .indexRooms{
        font-size: .6rem;
        margin: 0rem;
    }
    .divFirstRoom img {
        width: 10rem;
        height: 10rem;
    }
    .divSecondRoom img {
        width: 10rem;
        height: 10rem;
    }
    .divThirdRoom img {
        width: 10rem;
        height: 10rem;
    }
    .indexRooms .roomSection .divtext{
        padding: .625rem;
    }

    .roomSection {
        width: 90%;
        height: 10rem;
        margin: 1rem;
    }
    
}




@media(max-width:425px){
    .headerMenu .navBar{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .headerMenu .navBar ul{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0px;
    }
    .headerMenu label{
        display: flex;
        color: white;
        cursor: pointer;
    }
    .headerMenu #toggle:checked ~ .navBar{
        height: 100%;
    }
    .headerMenu .headerLogo a img{
        width: 3.5rem;
    }
    .headerMenu .headerLogo a{
        font-size: .56rem;
        text-decoration: none;
    }

    .indexMain{
        height: 17rem;
        display: block;
        overflow: hidden;
    }
    .indexCarouselItem{
        scroll-margin-top: 6rem;
        position: relative;
        margin-left: 10%;
    }
    #carouselItem-1{
        width: 80%;
        height: 100%;
    }
    #carouselItem-3{
        width: 80%;
        height: 100%;
    }
    #carouselItem-2{
        width: 80%;
        height: 100%;
    }
    .arrowsCarouselItem{
        height: 80%;
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.25rem; 
    }
    #carouselItem-2:hover{
        transform: none;
        transition: none;
    }
    #carouselItem-1:hover{
        transform: none;
        transition: none;
    }
    #carouselItem-3:hover{
        transform: none;
        transition: none;
    }

    .indexRooms{
        font-size: .4rem;
        margin: 0rem;
    }
    .divFirstRoom img {
        width: 7rem;
        height: 7rem;
    }
    .divSecondRoom img {
        width: 7rem;
        height: 7rem;
    }
    .divThirdRoom img {
        width: 7rem;
        height: 7rem;
    }

    .roomSection {
        width: 90%;
        height: 7rem;
        margin: 1rem;
    }

}

/* Futurix 
main section*/

.mainFuturix {
    background-color: #D6D6D6;
    display: flex;
    justify-content: space-between;
    height: 37.5rem;
}

.mainFuturix .futurixTitle {
    padding: 8rem;
    font-size: 1.5625rem;
}
.mainFuturix .futurixTitle h1{
    padding-bottom: 3rem;
}

.futurixMainImg img {
    height: 37.5rem;
    display: inline-block;
}

.img1 {
    width: 50%;
    object-fit: cover;
    float: left;
}

.img2 {
    width: 50%;
    object-fit: cover;
    float: right;
}

/* Futurix 
secondary section */

.futurixSecondarySection {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/interior-casa.jpg);
    background-size: cover;
    font-size: 1.5625rem;
    padding: 30px 90px;
    display: flex;
}

.futurixArticle {
    width: 39.375rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}


/* Bookings 
main*/

.mainBookings {
    width: 100%;
    text-align: center;
}


.bookingsTitle h1 {
    color: #b87f50;
    font-size: 4.5rem;
}

.bookingsTitle p {
    padding-top: 2rem;
    font-size: 1.6rem;
    color: #BCB9B9;
    display: inline-block;
}

.bookingsForm {
    width: 20%;
    text-align: center;
}
.bookingsForm form {
    margin: 1rem 2rem;
}
.bookingsForm form label{
    color: #BCB9B9;
    font-size: 1.9rem;
}
.bookingsForm form input{
    height: 1.6rem;
    font-size: 1.1rem;
    margin: .625rem;
    padding: .3125rem;
}
.bookingsForm i{
    color: #BCB9B9;
    font-size: 1.6rem;
}



.bookingRooms a img {
    width: 18%;
    height: 25rem;
    object-fit: cover;
}
.bookingTimetable{
    width: 15%;
    background-color: #504f4f91;
    font-size: 1.3rem;
    border-radius: 3%;
    padding: 1rem;
}
.bookingTimetable li{
    list-style: none;
}
.bookingTimetable a {
    text-decoration: none;
    color: #b87f50;
}

/* F.A.Q. */

.faqMainSection h1{
    color: #b87f50;
    text-align: center;
    padding: 30px;
    font-size: 3rem;
}

.faqQuestions {
    width: 49%;
    margin-left: 2rem;

}
.faqQuestions h2 {
    color: #b87f50;
    font-size: 2rem;
}
.faqQuestions a {
    text-decoration: none;
}

.faqQuestions p {
    color: #BCB9B9;
    font-size: 1.3rem;
}
.faqMainSection {
    background-image: url(../assets/img/scape-room.webp);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

/* contacto */

.contactMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.125rem;
    color: #b87f50;
}

.contactNumber{
    color: #b87f50;
    margin: 1rem;
    font-size: 1.5rem;
}
.contactNumber a {
    color: #BCB9B9;
    text-decoration: none;
}

.contactForm{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #333;
    padding: 20px;
    border: 20px solid #000;
    outline: 4px dashed #b87f50;
    max-width: 50%;
    margin: 3.125rem auto;
    flex-grow: 1;
}

.contactFormInput {
    min-width: 340px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}

.contactFormInput .formInput {
    width: 100%;
    padding: .4375rem;
    margin: .375rem 0;
    border: none;
    border-bottom: 3px solid #b87f50;
    background: transparent;
    color: #fff;
}

.contactFormInput .formInput:focus{
    background: linear-gradient(to bottom, transparent, #222);
    outline: none;
    border-bottom: 3px solid #5bf;
}

.contactFormInput textarea {
    min-height: 9rem;
    resize: none;
}

.contactFormImg {
    flex: 1;
    display: flex;
    padding: .625rem;
    min-width: 18.75rem;
    max-width: 25rem;
    order: 2;
}

.contactFormImg img{
    width: 100%;
    margin: auto;
    max-width: 12.5rem;
}

.contactFormInput input[type="submit"] {
    background: #5bf;
    border-bottom: none;
    padding: 12px;
}

.contactFormInput input[type="submit"]:hover {
    background: #57f;
    border-bottom: none;
    padding: 12px;
}

.contactFormInput input[type="submit"]:active {
    background: linear-gradient(to bottom, #5bf, #57f);
    box-shadow: #111;
}


