@media(max-width:768px){
    header{
        padding: .2rem;
        nav{
            .headerLogo{
                a{
                    font-size: .8rem;
                    img{
                        width: 5rem;
                    }
                }
            }
            .navBar{
                ul{
                    gap: 1rem;
                    li{
                        a{
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }
    footer{
        font-size: .6rem;
        padding: .4125rem;
        flex-wrap: wrap;
        .list{
            div{
                ul{
                    a{
                        display: none;
                    }
                }
            }
        }
        .form{
            form{
                input[type="email"]{
                width: 6rem;
                }
            }
        }
        .media{
            text-align: center;
            div{
                a{
                    img{
                        width: 1rem;
                    }
                }
            }
        }
    }
    .mainIndex{
        h1{
            font-size: 1.4rem;
        }
        .indexMain{
            height: 25rem;
            h3{
                font-size: 1.2rem;
            }
        }
        .edge{
            h3{
            font-size: 1rem;
            padding: 0rem .5rem;
            }
        }
        .indexRooms{
            font-size: .6rem;
            article{
                width: 90%;
                height: 10rem;
                margin: 1rem;
                a{
                    img{
                        width: 10rem;
                        height: 10rem;
                    }
                }
                div{
                    padding: 1rem;
                }
            }
        }
    }
    .mainBookings{
        @include grid(repeat(4, 1fr),3rem 3rem 11rem 43rem,"item1 item1 item1 item1" "item2 item2 item2 item2" "item4 item4 item4 item6" "item8 item8 item8 item3",0.625rem);
        width: 100%;
        text-align: center;
        h1{
            font-size: 1.6rem;
        }
        p{
            font-size: .6rem;
        }
        .bookingsForm{
            font-size: 1rem;
        }
        .bookingRooms{
            grid-area: item8;
            width: 100%;
            height: 100%;
            overflow: hidden;
            @include grid(repeat(2,50%),repeat(3,1fr), "i1 i2" "i3 i4" "i5 i6", .625rem);
            :nth-child(7) {
                display: none;
            }
            :nth-child(8){
                display: none;
            }
            :nth-child(9){
                display: none;
            }
            article{
                h2{
                    font-size: .8rem;
                }
            }
        }
        .bookingSchedule{
            grid-area: item3;
            margin-top: 11rem;
            width: 80%;
            #sedeSeleccionada{
                font-size: 1rem;
            }
            h2{
                font-size: .8rem;
            }
            ul{
                li{
                    a{
                        font-size: .8rem;
                    }
                }
            }
        }
    }
    .faqMainSection{
        background-image: linear-gradient(to right bottom, #131625, #181323, #1d0f1f, #210a1a, #240613, #330917, #430a18, #530c16, #79101e, #a11523, #c91c27, #f22727);
        h1{
            font-size: 1.4rem;
        }
        .faqImgs{
            flex-wrap: wrap;
            gap: .5rem;
            div{
                img{            
                width: 5.6rem;
                height: 5.6rem;
                }
                h3{
                    width: 8rem;
                    height: 8rem;
                    font-size: .6rem;
                }
            }
        }
        .questions{
            width: 80%;
            margin: auto;
            h2{
                font-size: map-get($size, text );
            }
            p{
                font-size: .8rem;
            }
        }
    }
    .contactMain{
        h1{
            font-size: 1.5rem;
        }
        h4{
            font-size: 1.2rem;
        }
        .contactNumber{
            h3{
                font-size: 1.1rem;
            }
        }
        .contactForm{
            width: 60%;
            border: .5rem solid black;
            .contactFormInput{
                input{
                    padding: .350rem;
                    margin: .300rem 0;
                }
                textarea{
                    height: 4rem;
                }
            }
            div{
                img{                
                width: 7rem;
                }
            }
        }
    }
    .mainFuturix{
        height: 20rem;
        .futurixTitle{
            width: 27%;
            margin: auto;
            font-size: 1rem;
            h1{
                padding-bottom: 3rem;
                
            }
        }
        .futurixMainImg{
            width: 73%;
            height: 20rem;
            img{            
                display: inline-block;
                width: 50%;
                object-fit: cover;
                height: 100%;
                &:first-child{
                    float: left;
                }
                .futurixImg2{
                    float: right;
                }
            }
        }
    }
    .futurixArticle{
        width: 100%;
        height: 100%;
        background-image: url(../assets/img/interior-casa.jpg);
        background-size: cover;
        margin: auto;
        display: flex;
        article{
            width: 39.375rem;
            margin-left: 1.25rem;
            div{
                h2{                        
                font-size: 1.3rem;
                }
                p{
                    font-size: .8rem;
                }
            }
        }
    }
}