header{
    width: 100%;
    background-color: $header-color;
    padding: 1rem;
    nav{
        @include flex(row,wrap,space-between,center,none);
        .headerLogo{
            @include flex(column,nowrap,center,center,none);
            a{
                color: #8750B8;
            }
        }
        #toggle, label {
            display: none;
        }
        .navBar{
            ul{
                display: flex;
                gap: 1rem;
                li{
                    a{
                        color: $navbar-letter-color;
                        font-size: map-get($size , navbar);
                    }
                }
            }
        }
    }
}