.sedesHeader{
    background-color: rgb(187, 137, 235);
    .btn{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: transparent;
        color: rgb(204, 83, 83);
    }
    
}
.mainBootstrap{
    background-color: #cac9c9;
    section{
        #carousel{
            .carousel-inner{
                max-height: 42rem;
                object-fit: contain;
                img{
                    width: 100%;
                }
            }
        }
    }
    .w-100{
        article{
            .icono-wrap{
                div{
                    h3{
                        color: rgb(204, 83, 83)
                    }
                }
                color: black;
            }
        }
    }
    .equipo{
        div{
            #img-equipo{
                width: 70%;
                height: 20rem;
                object-fit: contain;
            }
        }
        #local{
            display: flex;
            justify-content: space-between;
            .mapa{
                background-image: url(../assets/img/mapa2.png);
                width: 100%;
                height: 35rem;
            }
            div{
                .wrapper-local{
                    width: 50%;
                    padding: 6.25rem;
                }
            }
        }
    }
}