* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}
main{
    background-color: $main-color;
}
h3{
    color: $text-color;
}
h2{
    color: $title-color;
}
h1{
    color: $title-color;
}